body {
  color: white;
}

.header {
  background-color: #333333;
  padding: 20px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.text_p {
  text-align: center;
  font-size: 1.5vw;
  font-family: "Roboto", sans-serif;
}

.text-center h1 {
  text-align: center;
  font-size: 6vw;
  margin-bottom: 2.5vw;
  font-family: "Roboto", sans-serif;
}

.text-center h2 {
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  margin-top: 1.5vw;
  font-family: "Roboto", sans-serif;
}

.lead.text-center {
  text-align: center;
  font-size: 3vw;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

.my-legend {
  text-align: center;
  font-size: 1.8vw;
  font-family: "Roboto", sans-serif;
}

.label1 {
  font-size: 1.5vw;
  font-family: "Roboto", sans-serif;
}

.label2 {
  font-size: 1vw;
  font-family: "Roboto", sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  background-color: #222222;
  border-radius: 5px;
  border: 2px solid #03887d;
  padding: 10px 20px;
  font-size: 2vw;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: 10px;
  width: 100%;
  border: 4px solid #03887d;
  background-color: #222222;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.card2 {
  padding: 2px;
  width: 100%;
  height: 100%; /* Defina a altura desejada */
  border: 4px solid #03887d;
  background-color: #444444;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h3 {
  text-align: center;
  font-size: 1.8vw;
  padding: 0.5vw;
  font-family: "Roboto", sans-serif;
}

.card-header {
  background-color: #444444;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.card-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.card-text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
}

.div-highlight {
  max-width: 75px;
  height: 100px;
  margin-left: -10px;
  background-color: #444444;
  border: 4px solid #03887d;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.row-highlight {
  border: 4px solid #03887d;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.information-row {
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.col-highlight-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #333333;
  border-right: 4px solid #03887d;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.col-highlight-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  background-color: #333333;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.graph-container {
  height: 400px;
  background-color: #222222;
  font-size: 1.8vw;
  text-align: center;
  margin: 2px;
  padding: 10px;
  border: 4px solid #363636;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}

.dropdown {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.8vw;
  padding: 5px;
  border: 1px solid #03887d;
  border-radius: 5px;
  background-color: #222222;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.form-control {
  width: 100%;
  margin-bottom: 1px;
  font-size: 1.8vw;
  padding: 1px;
  border: 1px solid #03887d;
  border-radius: 5px;
  background-color: #222222;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
